fastapi
uvicorn
python-dotenv

requests
httpx
pydantic
supabase
pinecone-client
groq
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
transformers
torch
torchaudio
langchain
langchain-community
langchain-groq
langchain-openai
langchain-google-genai
langsmith
gtts
pydub
google-api-python-client
